*, *::before, *::after {
    box-sizing: border-box;
    font-family: Gothan Rounded, sans-serif;
    font-weight: normal;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(111, 197, 255), rgb(176, 255, 176));   
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: minmax(120px, auto) repeat(5, 100px);
}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, 0.60);
}

.calculator-grid > button:hover {
    background-color: rgba(255, 255, 255, 0.9);
}

.span-two {
    grid-column: span 2;
}

.calculator-output {
    grid-column: 1 / -1;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 2em;
    word-wrap: break-word;
    word-break: break-all;
}

.calculator-output .previous-operand {
    color: rgba(255, 255, 255, 0.65)
}

.calculator-output .current-operand {
    color:rgba(255, 255, 255, 0.9);
    font-size: 2em;
}